{% extends 'base.html.twig' %}
{% block title %}Product Details{% endblock %}
{% block body %}
<div class="card shadow">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Product Details</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title fw-bold">{{ product_no }}. {{ product.name }}</h5>
        <p class="card-text"><strong>Product ID:</strong> {{ product.id }}</p>
        <p class="card-text"><strong>Price:</strong> Rs. {{ product.price }}</p>
        <p class="card-text"><strong>Description:</strong> {{ product.description }}</p>

        <a href="{{ path('app_product_index') }}" class="btn btn-primary btn-sm">Back to List</a>
        <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-primary btn-sm">Edit</a>
        {{ include('product/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
